@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

h1 {
    font-family: 'Righteous', cursive;
    color: black;

    text-align: center;
}

body {
    text-align: left;
    font-family: 'Righteous', cursive;
    font-weight: normal;
}

#league.card {
    border: 2px solid black;
    max-width: 160px;
    background-color: whitesmoke;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#standings.card {
    border: 2px solid black;
    max-width: 2225px;
    background-color: whitesmoke;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#comment-card.card {
    border: 2px solid black;
    max-width: 225px;
    background-color: whitesmoke;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer
}

#individual-leagues {
    margin: 0 auto;
    position: relative;
    right: 41vw;
    width: 15vw;
    padding: 5px;
    cursor: pointer;

}

#individual-leagues article {
    padding: 5px;
    border: 2px;
}

#league-logo,
li:hover {
    color: red;
    cursor: pointer;
}

h3 {
    color: black;

    position: absolute;
    top: 18vh;
    left: 75vw;
}


#league-country {
    position: absolute;
    top: 15vh;
    left: 50vw;
}

#league-name {
    font-size: larger;
    position: absolute;
    top: 12vh;
    left: 50vw;
}

#league-logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20vh;
    left: 50vw;
}

#league-information {
    top: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

/* Style the buttons that are used to open and close the accordion panel */


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

h5 {
    color: black;
    text-align: square;
    padding-right: 100px;
    position: absolute;
    top: 19vh;
    left: 75vw;
    font-size: 1.2em;
    font-weight: bold;
}

#league-flag {
    position: absolute;
    top: 3vh;
    left: 75vw;
    height: 10%;
    width: 10%;
    border: black solid transparent;


}

#comment-form {
    top: 73vh;
}

.soccer {
    position: fixed;
    opacity: 0.9;
    top: 0;
    left: o;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}