h1 {
    color: black;
    font-family: monospace;
    text-align: center;
}
body {
    text-align: left;
    font-family: monospace;
    font-weight: normal;
    background-color: bisque;
    /* background-image: url('https://cdnuploads.aa.com.tr/uploads/Contents/2018/11/01/thumbs_b_c_b5d8d7076b8ba4773b8e3eb87428a801.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-rendering: -webkit-optimize-contrast;
    background-size: cover;
     */
   
}
#individual-league,
#league-logo,
li:hover {
    color: red;
    cursor: pointer;
}
#league-name{
    text-align: right;
}
#league-country,
#league-name,
#league-logo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
#league-information {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: bisque;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: right;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: bisque;
    display: none;
    overflow: hidden;
  }
  /* #league-details  */